.logo {
  margin-top: 9%;
}
.form-container {
  max-width: 582px;
  margin: 0 auto;

}
input {
  width: 100%;
  height: 100%;
  outline: none;
  text-align: center;
  border: none;
  padding: 0%;
}
.input-container {
  display: flex;
  width: 100%;
  border: 1px solid rgb(223, 225, 229);
  border-radius: 24px;
  align-items: center;
  margin-top: 2px;
  outline: none;

}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav a {
  flex: 1;
  text-align: center;
  margin: 0.25em;
  padding: 0.25em;
  text-decoration: none;
  color: #555;
}
.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}
.icons {
  vertical-align: middle;
}
#signIn {
  border: 1px solid #4285f4;
  background-color: #4285f4;
  color: white;
}
.search {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
